[include]
	path = ~/.gitconfig.local
[core]
	legacyheaders = false
	quotepath = false
	trustctime = false
	precomposeunicode = false
	pager = cat
	logAllRefUpdates = true
[repack]
	usedeltabaseoffset = true
[merge]
	log = true
[apply]
	whitespace = fix
[help]
	autocorrect = 1
[rerere]
	enabled = true
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = always
[color "diff"]
	meta = yellow bold
	frag = magenta
	plain = white bold
	old = red bold
	new = green bold
	commit = yellow bold
	func = green dim
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[diff]
	renames = copies
	algorithm = patience
	compactionHeuristic = true
[diff "bin"]
	textconv = hexdump -v -C
[credential]
	helper = store
[status]
	relativePaths = true
	showUntrackedFiles = no
[pull]
	rebase = true
[push]
	default = current
	followTags = true
[alias]
	c = commit -am
	dif = diff
	p = push
	pf = push --force-with-lease
	s = status
	sclone = clone --depth=1
[remote "origin"]
	fetch = +refs/pr/*/head:refs/remotes/origin/pr/*
	fetch = +refs/tags/*:refs/tags/*
[branch]
	autosetupmerge = always
	autosetuprebase = always
[commit]
	gpgsign = true
[http]
	sslVerify = false
[submodule]
	fetchJobs = 0
[fetch]
	prune = true
