[core]
	legacyheaders = false
	quotePath = false
	trustctime = false
	precomposeUnicode = false
	pager = cat
	logAllRefUpdates = true
	eol = lf
	autocrlf = false
	commitGraph = true
	ignoreCase = false
	untrackedCache = true
[repack]
	usedeltabaseoffset = true
[merge]
	log = true
	conflictstyle = merge
	keepbackup = false
[apply]
	whitespace = fix
[help]
	autocorrect = immediate
[rerere]
	enabled = true
	autoUpdate = true
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = always
[color "diff"]
	meta = yellow bold
	frag = magenta
	plain = white bold
	old = red bold
	new = green bold
	commit = yellow bold
	func = green dim
	whitespace = red reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[diff]
	renames = copies
	algorithm = histogram
	compactionHeuristic = true
	wsErrorHighlight = all
	context = 4
[diff "bin"]
	textconv = hexdump -v -C
[credential]
	helper = store
[status]
	relativePaths = true
	showUntrackedFiles = no
[pull]
	rebase = true
[push]
	default = current
	followTags = true
	autoSetupRemote = true
[rebase]
	abbreviateCommands = true
	autosquash = true
	updateRefs = true
[alias]
	dif = diff
	git = !exec git
[branch]
	autosetupmerge = always
	autosetuprebase = always
[http]
	sslverify = false
	followRedirects = true
	postBuffer = 1048576000
[submodule]
	fetchJobs = 0
[fetch]
	prune = true
	pruneTags = true
	tags = true
	recurseSubmodules = true
	parallel = 0
	writeCommitGraph = true
[tag]
	sort = version:refname
[gc]
	writeCommitGraph = true
[am]
	threeWay = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
[receive]
	advertisePushOptions = true
	procReceiveRefs = refs/for
[clone]
	defaultRemoteName = origin
[advice]
	skippedCherryPicks = false
[include]
	path = ~/.gitconfig.local
